<main>
	<h1>{{title}}</h1>
	<h3>{{message}}</h3>
	<p>Pick a Movie!</p>
	<ul>
		{{#each movies}}
		<a href=""><img src="/images/{{movies_cover}}"></a>
		<li><a href="/kids/{{movies_id}}">{{movies_title}}</a> </li>
		{{/each}}
	</ul>

</main>