<main>
	<h1>{{title}}</h1>
	<h3>{{message}}</h3>
	<p>Pick a Movie!</p>
	<ul>
		<a href=""><img src="/images{{movies.movies_cover}}"></a>
		<li><a href="/kids/{{movies.movies_id}}">{{movies.movies_title}}</a> </li>

	</ul>

</main>